<div class="footer_custom ">
    <div class="container">
        <p class="copyright text-muted">
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <i class="fab fa-creative-commons fa-lg"></i>
                <i class="fab fa-creative-commons-by fa-lg"></i>
                <i class="fab fa-creative-commons-sa fa-lg"></i>
            </a> &nbsp;
            This work is licensed under a
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
            Commons Attribution-ShareAlike 4.0 International License</a>.
        </p>
        <p class="text-muted">
            <i class="fas fa-check fa-lg"></i>
            <i class="fas fa-blog fa-lg"></i>
            <i class="fab fa-html5 fa-lg"></i>
            &nbsp;
            <a href="https://validator.w3.org/nu/?doc={{ .Permalink }}&showoutline=true&showsource=true"
            target="_blank">Validate @ W3C</a>
        </p>
    </div>
</div>

<script src="{{ "js/katex-macros.js" | absURL }}"></script>
<script src="{{ "js/copyBtn.js" | absURL }}"></script>
